# IntelliJ
.idea/
*.iml
out/

# NetBeans
nbproject/
build/
dist/
.nb-gradle/

# Java
*.class
*.log

# BlueJ
*.ctxt

# J2ME
.mtj.tmp/

# Ignorar classe local de conexão com o banco
src/com/GuardouPagou/models/DatabaseConnection.java
