# IntelliJ IDEA
.idea/
*.iml
out/

# NetBeans
nbproject/
.nb-gradle/

# Build directories and artifacts
build/
dist/

# NetBeans specific build files
nbbuild.xml
build.xml
manifest.mf

# Java compiled classes and logs
*.class
*.log

# BlueJ
*.ctxt

# J2ME
.mtj.tmp/

# Local database connection properties
resources/properties/database.properties
resources/properties/email.properties