/* Modal Button Styles */

.menu-button {
    -fx-background-color: #4C4F53;
    -fx-text-fill: #000000;
    -fx-background-radius: 22;
}

.menu-button:hover {
    -fx-background-color: #8A8B8C;
}

.menu-button:focused {
    -fx-border-color: #C88200;
    -fx-border-width: 2;
    -fx-border-radius: 22;
}

.modal-button {
    -fx-background-color: #4C4F53;
    -fx-text-fill: #FFFFFF;
    -fx-background-radius: 22;
}

.modal-button:hover {
    -fx-background-color: #8A8B8C;
}

.modal-button:focused {
    -fx-border-color: #C88200;
    -fx-border-width: 2;
    -fx-border-radius: 22;
}

/* Table Styles */

.table-view {
    -fx-background-color: #3F5B92;
    -fx-control-inner-background: #3F5B92;
}

.table-view .column-header-background {
    -fx-background-color: #7890A8;
}

.table-view .column-header, .table-view .filler {
    -fx-background-color: #7890A8;
}

.table-view .column-header .label {
    -fx-text-fill: #181848;
}