.table-view {
    -fx-background-color: #3F5B92;
    -fx-control-inner-background: #3F5B92;
}

.table-view .column-header-background {
    -fx-background-color: #7890A8;
}

.table-view .column-header, .table-view .filler {
    -fx-background-color: #7890A8;
}

.table-view .column-header .label {
    -fx-text-fill: #181848;
}